@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
  /*
   * the app fills the window, so we never have a full-height scrollbar;
   * disabling this fixes the brief rightward shift when closing a modal
   */
  exclude: rootscrollgutter;
}

.monaco-editor {
  /*
   * required to allow grow/shrink to work properly with `automaticLayout`
   * see: https://stackoverflow.com/a/71876526/885098
   */
  position: absolute !important;
}

.sql-active-statement-margin {
  @apply bg-primary/10;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5px;
    height: 100%;
    @apply bg-primary;
  }
}

.modal-box {
  max-height: calc(100vh - 4rem);
}

.alert {
  @apply py-1 px-2 text-xs gap-2 w-96;
}
